hr {
    margin-top: 1px;
    border-top: 3px solid #a6a6a6;
}

p {
    margin: 0;
}

.audio_header {
    margin-bottom: 15px;
    margin-top: 10px;
}

.navbar-brand img {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 0;
}

.navbar-brand {
    padding: 0;
}

.page_content, .privacy_policy, .terms_of_use {
    background: url('../images/audio_content.jpg') center no-repeat;
    min-height: 800px;
    background-size: cover;
    padding: 50px 0;
}

.about_content, .faq_content {
    min-height: 700px;
}

.my_book {
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
}

/*.about_content {*/
/*background: url('../../images/audio_content.jpg') center no-repeat;*/
/*background-size: cover;*/
/*padding: 50px 30px*/
/*}*/

.faq_content a:active, .faq_content a:focus, .faq_content a:hover {
    outline: 0;
    text-decoration: none;
}

.faq_content .panel {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    background: 0 0;
    box-shadow: none;
}

.books, .faq_content .panel-body {
    background: #fff;
}

.book_img, .contact_content .form, .slide_img {
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .2);
}

.faq_content .panel:last-child {
    border-bottom: none;
}

.faq_content .panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.faq_content .panel-group .panel {
    border-radius: 0;
}

.faq_content .panel-group .panel + .panel {
    margin-top: 0;
}

.faq_content .panel-heading {
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
    border-bottom: 1px solid #a6a6a6;
}

.faq_content .panel-title a {
    display: block;
    color: #000;
    padding: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

#bs-collapse .panel-heading a:after, .faq_content .panel-heading a:before {
    font-size: 24px;
    position: absolute;
    /*font-family: 'Material Icons';*/
    right: 5px;
    top: 10px;
}

.faq_content .panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.faq_content .panel:last-child .panel-heading {
    transition: border-radius .3s linear .2s;
}

.faq_content .panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}

.faq_content .panel-heading a:before {
    content: '\e146';
    transition: all .5s;
    transform: scale(1);
    color: orange;
}

#bs-collapse .panel-heading a:after, .faq_content .panel-heading.active a:before {
    content: ' ';
    transform: scale(0);
    transition: all .5s;
}

#bs-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all .5s;
    color: orange;
}

@media (max-width: 738px) {
    .audio_content {
        padding: 15px 5px;
    }
}

.navbar {
    margin-bottom: 0;
}

.left_content_1 div span {
    margin-left: 5px;
}

.left_content_1 h3, .left_content_2 h3 {
    font-size: 18px;
    font-weight: 700;
}

.left_content_2 {
    margin-top: 80px;
}

.left_content_1 img {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
}

.left_content_1 div, .left_content_2 div {
    margin-top: 10px;
}

.left_content_2 img {
    display: inline-block;
    width: 70px;
}

.left_content_2 div div {
    float: right;
    margin-top: 0;
}

@media (max-width: 400px) {
    .left_content_2 div div {
        margin-right: 0 !important;
    }
}

.books {
    margin: 35px 0 0 5px;
    min-height: 110px;
    position: relative;
}