p {
    margin: 0
}

.audio_header {
    margin-bottom: 15px;
    margin-top: 10px
}

.navbar {
    margin-bottom: 0
}

.navbar-brand img {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 0
}

.navbar-brand {
    padding: 0
}

.faq_content a:active, .faq_content a:focus, .faq_content a:hover {
    outline: 0;
    text-decoration: none
}

.faq_content .panel {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    background: 0 0;
    box-shadow: none
}

.books, .faq_content .panel-body {
    background: #fff
}

.book_img, .contact_content .form, .slide_img {
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .2)
}

.faq_content .panel:last-child {
    border-bottom: none
}

.faq_content .panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0
}

.faq_content .panel-group .panel {
    border-radius: 0
}

.faq_content .panel-group .panel + .panel {
    margin-top: 0
}

.faq_content .panel-heading {
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
    border-bottom: 1px solid #a6a6a6
}

.faq_content .panel-title a {
    display: block;
    color: #000;
    padding: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 400
}

#bs-collapse .panel-heading a:after, .faq_content .panel-heading a:before {
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 10px
}

.faq_content .panel:last-child .panel-body {
    border-radius: 0 0 4px 4px
}

.faq_content .panel:last-child .panel-heading {
    transition: border-radius .3s linear .2s
}

.faq_content .panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s
}

.faq_content .panel-heading a:before {
    content: '\e146';
    transition: all .5s;
    transform: scale(1);
    color: orange
}

#bs-collapse .panel-heading a:after, .faq_content .panel-heading.active a:before {
    content: ' ';
    transform: scale(0);
    transition: all .5s
}

#bs-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all .5s;
    color: orange
}

.page_content, .privacy_policy, .terms_of_use {
    background: url(../images/audio_content.jpg) center no-repeat;
    min-height: 800px;
    background-size: cover;
    padding: 50px 0
}

.my_book {
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
    padding-top: 25px
}

hr {
    margin-top: 1px;
    border-top: 3px solid #a6a6a6
}

.left_content h3 {
    font-size: 18px;
    font-weight: 700
}

.left_content_2 {
    margin-top: 111px
}

.left_content_1 img, .left_content_2 img {
    display: inline-block
}

div.image {
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    margin-right: 5px
}

.left_content_1 div.image {
    vertical-align: middle
}

.left_content_2 div.image {
    vertical-align: top
}

.left_content_1 > div > span, .left_content_2 > div > span .book_author {
    max-width: 170px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.left_content_1 > div, .left_content_2 > div {
    margin-top: 15px
}

.books {
    margin: 35px 0 0 5px;
    min-height: 110px;
    position: relative
}

.book_img {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 130px
}

.books .books_info {
    margin-left: 150px;
    margin-top: 15px;
    display: inline-block;
    height: 80px
}

.books > a {
    margin-left: 150px
}

._3-8y {
    display: none
}

.btn-default:hover {
    color: #fff;
    background-color: #f60;
    border-color: #fff
}

.audio_slide_0:hover, .audio_slide_1:hover, .audio_slide_2:hover {
    color: #fff !important;
    border-color: #fff
}

.center_content .books .books_info {
    margin-left: 130px;
    margin-top: 0;
    font-size: 12px;
    height: 80px
}

.center_content .autors .book_title {
    padding-top: 10px
}

.center_content .books > a {
    margin-left: 130px
}

.center_content .book_img {
    bottom: 10px;
    width: 110px
}

.center_content .books {
    min-height: 130px
}

.center_content .col-sm-4 {
    padding-right: 5px;
    padding-left: 5px
}

.books button {
    border-radius: 15px
}

.book_title {
    font-size: 14px;
    margin: 0
}

.book_author {
    font-size: 12px;
    margin: 0
}

.left_content_2 span {
    display: inline-block;
    padding-left: 5px;
    max-width: 180px;
}

:focus {
    outline: 0 !important
}

.audio_slide button {
    border-radius: 15px;
    margin-top: 20px
}

.audio_slide_0:hover {
    background-color: #123382
}

.audio_slide_1:hover {
    background-color: #8E0E00
}

.audio_slide_2:hover {
    background-color: #553E46
}

.btn-default:active {
    color: #fff;
    background-color: #f60;
    border-color: #fff
}

.about_content h1 {
    margin: 10px 0
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #f60;
    border-color: #f60
}

.audio_slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 5px 100px;
    min-height: 300px;
    color: #fff
}

.slide_img {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 250px
}

.audio_slide .book_title {
    margin-top: 25px
}

.audio_slide .stars {
    margin-bottom: 30px
}

.blue_button {
    color: #204659 !important
}

.blue_button:hover {
    background-color: #204659;
    color: #fff !important
}

.main .slick-prev {
    left: 30px !important;
    z-index: 999
}

.slick-prev {
    z-index: 999
}

.main .slick-next {
    right: 30px !important
}

.suggest {
    max-width: 500px;
    border-radius: 25px;
    padding: 0 10px
}

@media (max-width: 350px) {
    .suggest {
        width: 100%
    }
}

.suggest input {
    border-radius: 25px;
    border: 2px solid #fff
}

.form-control:focus {
    border-color: #f60
}

.suggest button {
    border-radius: 25px;
    background: orange;
    color: #fff
}

.suggest button:hover {
    color: #fff
}

.suggest button:focus {
    background: orange !important;
    color: #fff !important
}

.contact_block p, footer a {
    display: block;
    color: #b3b3b3;
    line-height: 20px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    font-weight: 700;
    background-color: transparent
}

footer a:hover {
    color: #f60
}

footer div div {
    padding-left: 40px
}

footer h4 {
    color: grey;
    margin-bottom: 20px;
    border-bottom: 2px solid #b3b3b3;
    line-height: 25px
}

footer {
    padding: 50px 0 35px
}

.nav-pills a {
    color: #3a3a3a !important
}

.nav-pills > li.active > a {
    border-bottom: 3px solid #f60
}

.faq_nav > li.active > a {
    border-bottom: none
}

.nav-pills > li > a {
    border-radius: 0
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent
}

.filters {
    margin-top: 40px
}

.more_books {
    float: right;
    color: #f60;
    border-radius: 15px;
    margin-top: 15px;
    padding: 4px 20px !important
}

.page_footer {
    background: #f8f8f8
}

.left_content a {
    color: #333
}

.book_page_banner {
    background: url(../images/slider_fon.jpg) center no-repeat;
    min-height: 308px;
    background-size: cover
}

.navbar-default .navbar-collapse {
    margin-top: 10px
}

.social_links a {
    display: inline-block;
    color: #3b5998
}

.social_links a:hover {
    color: #3b5998
}

.contact_content .form {
    background: #fff;
    padding: 40px 85px;
    max-width: 800px;
    min-height: 750px;
    margin: 20px auto;
    border-radius: 4px
}

.fileUpload {
    position: relative;
    overflow: hidden
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}

.about, .about_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

#uploadFile {
    background: #fff;
    margin-top: 30px;
    height: 34px;
    padding-left: 12px
}

#uploadFile::placeholder {
    color: #8c8c8c
}

.fileUpload {
    background: orange
}

.about, .inside_content {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .2)
}

.fileUpload span {
    color: #fff
}

.inside_content {
    padding: 40px 50px;
    max-width: 1000px;
    min-height: 550px;
    margin: 20px auto;
    line-height: 25px;
    font-size: 15px
}

.inside_content span {
    color: orange
}

.navbar-form {
    margin-top: 4px
}

.about {
    padding: 50px 70px 50px 180px;
    width: 60%;
    right: 0
}

.form .form-control:focus, .form input {
    box-shadow: none
}

.personal_page_buttons {
    float: right;
    background: #f60;
    color: #fff;
    border: 1px solid #fff
}

.personal_page_buttons:hover {
    background: #fff;
    color: #f60;
    border: 1px solid #f60
}

.lang_button {
    background-color: transparent;
    border: none
}

.lang_button:active, .lang_button:focus, .lang_button:hover {
    background-color: #fff !important;
    color: #333 !important
}

@media (min-width: 1380px) {
    .about {
        padding: 80px 70px 80px 200px
    }

    .about_img {
        height: 500px
    }
}

.form button:hover {
    background: #cc8500 !important
}

.form input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #ccc
}

.form label {
    color: #8c8c8c;
    font-weight: inherit;
    margin-left: 12px
}

.form .form-group {
    padding: 0 15px
}

.about_img {
    z-index: 9;
    left: 0;
    height: 450px;
    width: 50%;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .2)
}

.under_title {
    color: orange;
    border-bottom: 3px solid orange
}

.nav > li > a {
    padding: 10px
}

.navbar-static-top {
    font-size: 12px
}

.faq_tab {
    background: #fff
}

.purchased_books {
    width: 765px
}

.faq_content .tab-content > .active {
    padding: 30px 60px;
    min-height: 600px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .2)
}

.book_page_img, .my_book_img {
    box-shadow: rgba(19, 35, 47, .2) 0 4px 10px 4px
}

.faq_nav > li > a {
    padding: 7px 10px
}

.book_page_carusel .books img, .main_carusels .books img {
    opacity: .8
}

.book_page_carusel .slick-active img, .main_carusels .slick-active img {
    opacity: 1
}

.main_carusels h4 {
    padding-top: 4px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #fff;
    background-color: #f60
}

.pagination > li > a, .pagination > li > span {
    color: #f60
}

.page_title {
    border-bottom: 3px solid #a6a6a6;
    line-height: 39px;
    width: 220px
}

.appstore_btn, .wishlist_btn {
    width: 100%;
    margin-top: 5px;
    max-width: 180px
}

.appstore_btn {
    border-radius: 15px;
    border: 1px solid #000
}

.wishlist_btn {
    border-radius: 15px;
    border: 1px solid #f60;
    color: #f60;
    padding: 8px 12px
}

.wishlist_btn.all-ready-wish-list, .wishlist_btn.all-ready-wish-list.disabled:active, .wishlist_btn.all-ready-wish-list.disabled:focus, .wishlist_btn.all-ready-wish-list.disabled:hover {
    color: #fff !important;
    background-color: #f60 !important;
    border-color: #fff !important
}

.appstore_btn:active:focus, .appstore_btn:focus, .appstore_btn:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff
}

.books_nav.nav {
    margin: 0 auto
}

.books_nav.nav li {
    text-align: center;
    /*margin-left: 85px*/
}

.books_nav.nav-pills > li.active > a {
    background-color: orange;
    color: #fff !important;
    border-radius: 18px;
    border: unset
}

.books_nav.nav > li > a,.books_nav.nav > li > label {
    width: 100px;
    border-radius: 18px;
    border: unset;
    background-color: #ccc;
    color: #fff !important;
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}

.books_nav.nav > li input[type="radio"] {
    display: none;
}



.books_nav.nav  input[type="radio"]:checked+label {
    background-color: orange;
}

.books_nav.nav-pills > li + li {
    margin-left: 5px
}

.book_page_img {
    width: 100%;
    height: 360px
}

.my_book_img {
    width: 100%
}

.my_book_info .book_title {
    font-size: 20px
}

.my_book_info .book_author {
    font-size: 13px
}

.my_book_info label.star {
    color: #000
}

.buy_btn {
    border-radius: 15px;
    padding: 8px 20px;
    background-color: #f60;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 180px;
    margin-right: 20px
}

.book_social_links a, div.stars {
    display: inline-block;
    margin-bottom: 10px
}

.book_social_links {
    margin: 10px auto 0;
    border-radius: 15px;
    padding: 5px 0;
    text-align: center
}

.book_social_links .fa {
    font-size: 20px
}

.book_social_links a {
    margin: 0 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-top: 8px;
    color: #fff;
    transition: 0.5s
}

.book_social_links a:hover {
    color: #4c91cd;
    background: #fff
}

.social_links {
    margin-top: 5px;
    padding: 0
}

input.star {
    display: none
}

label.star {
    float: right;
    padding: 2px;
    font-size: 17px;
    color: #fff;
    transition: all .2s
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
    text-shadow: 0 0 20px #952
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3)
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome
}

.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg)
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg)
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg)
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg)
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg)
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg)
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg)
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg)
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -.7s;
    animation-delay: -.7s
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-circleBounceDelay {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media (max-width: 950px) {
    #myCarousel {
        padding: 0 !important
    }
}

@media (max-width: 786px) {
    .slide_img {
        width: 150px
    }

    .audio_slide {
        min-height: 250px !important
    }

    .audio_book_text {
        display: none
    }

    .stars {
        margin-bottom: 10px !important
    }

    .audio_slide button {
        margin-top: 25px !important
    }
}

@media (max-width: 420px) {
    .left_content_1 div, .left_content_2 div {
        margin-left: 10px
    }

    .left_content h3, .left_content h4, .right_content h4 {
        text-align: center
    }

    .audio_slide {
        margin-bottom: 0;
        min-height: 200px !important
    }

    .slide_img {
        width: 120px
    }

    .audio_book_text {
        display: none
    }

    .stars {
        margin-bottom: 10px !important
    }

    .audio_slide button {
        margin-top: 15px !important;
        font-size: 10px
    }

    .left_content_2 div div {
        margin-right: 30px
    }

    .book_img {
        width: 90px
    }

    .nav > li > a {
        padding: 10px 3px;
        font-size: 12px
    }
}

@media (max-width: 400px) {
    .book_page_banner {
        min-height: 200px !important
    }

    .book_page_img {
        width: 100px !important
    }

    .banner_content {
        top: 20px !important
    }

    .banner_text {
        margin-top: 0 !important
    }

    .banner_content button {
        font-size: 12px
    }

    .opinions {
        margin-left: 0 !important
    }

    .opinions_content {
        margin: 0 20px
    }

    .book_page_right h4 {
        margin-left: 20px
    }

    .book_page_right {
        margin-top: 20px !important
    }

    .book_page_more {
        margin-right: 35%
    }

    .user_comment {
        margin-bottom: 10px
    }
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0
    }

    .actions .btn-info {
        float: left
    }

    .actions .btn-danger {
        float: right
    }

    table#cart thead {
        display: none
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: 700;
        display: inline-block;
        width: 8rem
    }

    table#cart tfoot td, table#cart tfoot td .btn {
        display: block
    }
}

.terms_ul {
    list-style-type: none
}

.terms_ul .fa {
    color: orange;
    font-size: 12px
}

.btn-default {
    padding: 6px 20px
}

.author_content .btn-default {
    padding: 6px 12px
}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    overflow-y: hidden
}

.tab-content > .active {
    height: auto
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #ffa500
}

#payment_details {
    margin-top: 20px
}

#payment_details thead {
    background: #f5f5f5
}

#payment_details .book_image {
    width: 100px
}

#payment_details .paypal {
    height: 40px
}

#payment_details tbody tr {
    border-bottom: 1px solid #ccc
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #ffa500
}

.stars.open-login-modal > div {
    pointer-events: none
}

.audio_book_text {
    margin-top: 10px;
    height: 110px
}

.face_login {
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
    background: #3B5998 !important;
    text-transform: unset !important;
    font-weight: normal !important
}

.face_login:hover {
    box-shadow: 0 0 10px rgba(19, 35, 47, 1);
    color: #fff !important
}

.page_content_paypal {
    background: url(../images/audio_content.jpg) center no-repeat;
    min-height: 700px;
    background-size: cover;
    padding: 50px 0;
    position: relative
}

.page_content_paypal .success, .page_content_paypal .error {
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 800px;
    height: 500px;
    box-shadow: 0 0 20px rgba(19, 35, 47, .3);
    padding-top: 80px
}

.success .fa {
    color: #4cae4c;
    font-size: 40px;
    padding-top: 8px
}

.error .fa {
    color: #d43f3a;
    font-size: 40px;
    padding-top: 8px
}

.success h3 {
    color: forestgreen;
    margin-top: 50px
}

.success p {
    color: #999;
    font-size: 15px;
    margin-bottom: 50px
}

.error p {
    color: #999;
    font-size: 15px;
    margin-bottom: 20px
}

.orange-btn, .orange-btn:active:focus, .orange-btn:focus {
    color: #fff;
    background-color: #ff8533;
    border-color: #fff
}

.orange-btn:hover {
    background-color: #e65c00
}

.page_content_paypal .icon_block {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 auto
}

.error h3 {
    color: #d43f3a
}

.no-item {
    margin-top: 20px;
    text-align: center
}

.no-item p {
    margin-bottom: 50px
}

.favorite-books {
    box-shadow: 0 0 20px rgba(19, 35, 47, .15);
    min-height: 170px
}

.remove-book-wish-list {
    position: absolute;
    right: 10px;
    top: 5px
}

.favorite-books .book_img {
    bottom: 30px
}

.favorite-books .books_info {
    margin-top: 35px
}

.favorite-books .fa {
    color: #b3b3b3;
    cursor: pointer;
    font-size: 25px
}

.favorite-books .fa:hover {
    color: #e65c00
}

.author-content {
    position: absolute;
    top: 120px
}

.author-content .book_title {
    margin-top: 30px
}

.author-content .audio_book_text {
    margin-top: 70px
}

.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 3px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem
}

.twitter span {
    background-color: #4099ff
}

.facebook span {
    background-color: #3B5998
}

.instagram span {
    background-color: #e4405f
}

.icon-button i {
    background: none;
    color: #b3b3b3;
    height: 3.6rem;
    left: -.2px;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10
}

.icon-button:hover .icon-twitter, .icon-button:hover .icon-facebook, .icon-button:hover .icon-instagram {
    color: white
}

.under-line {
    border-bottom: 3px solid #f60;
    padding-bottom: 5px
}

.btn-contact {
    background: #FFA500;
    float: right;
    margin-top: 30px
}

.btn-contact span {
    color: #fff;
    font-size: 30px;
    padding-right: 5px
}

.book_social_links .fb-share {
    background: #3b5998
}

.book_social_links .tw-share {
    background: #4099ff
}

.book_social_links .in-share {
    background: #4875B4
}

.already-purchased {
    color: #fff;
    font-size: 17px
}

button.main_btn.disabled {
    pointer-events: none;
    cursor: not-allowed
}

.navbar-default {
    background-color: #fff !important;
}

.author_content .book_title {
    max-width: 130px !important;
}

.no-more{
    padding-left: 84px;
    margin-top: 20px;
    font-size: 16px;
}

.book_title:not(.show-page)  ,.book_author:not(.show-page){
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.book_title:not(.show-page),.book_author:not(.show-page){
    max-width: 158px;
}

.left_content_2 .book_author,.left_content_2 .book_title{
    max-width: 180px !important;
}
